$offBlack: hsl(0, 0%, 8%);
$darkGrey: hsl(0, 0%, 12%);
$grey: hsl(0, 0%, 20%);
$white: hsl(0, 0%, 100%);
$green: hsl(75, 94%, 57%);
$fontXXS: 12px;
$fontXS: 13px;
$fontS: 14px;
$fontM: 16px;
$fontL: 22px;
$fontXL: 28px;
$marginS: 6px;
$marginM: 8px;
$marginL: 24px;
$heightS: 40px;
$heightM: 44px;
$heightL: 80px;
$heightXL: 92px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  font-family: 'Inter', sans-serif;
  background: $offBlack;
}

.profile {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 333px;
  height: 510px;
  padding: 20px 28px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $white;
  font-size: $fontS;
  transform: translate(-50%, -50%);
  border-radius: 12px;
  background: $darkGrey;

  &_avatar {
    height: $heightL;
    width: $heightL;
    margin-bottom: $marginL;
    border-radius: 100%;
  }

  &_info {
    margin-bottom: $marginL;
  }

  &_name {
    margin-bottom: $marginS;
    font-size: $fontL;
    font-weight: 700;
  }

  &_location {
    text-align: center;
    font-size: $fontXS;
    color: $green;
  }

  &_description {
    margin-bottom: $marginM;
    font-size: $fontXXS;
  }

  &_media {
    display: inline-block;
    width: 100%;
    list-style: none;

    &_link {
      height: $heightS;
      width: 100%;
      margin: 14px 0;
      line-height: $heightS;
      text-align: center;
      background: $grey;
      border-radius: 8px;
      font-weight: 600;
      transition: 0.5s;

      &:hover {
        cursor: pointer;
        color: $grey;
        background: $green;
      }
    }
  }
}

@media (min-width: 768px) {
  .profile {
    width: 356px;
    height: 600px;
    padding: 32px;
    font-size: $fontXS;

    &_avatar {
      height: $heightXL;
      width: $heightXL;
    }

    &_name {
      font-size: $fontXL;
    }

    &_location {
      font-size: $fontM;
    }

    &_description {
      font-size: $fontS;
    }

    &_media {
      &_link {
        height: $heightM;
        line-height: $heightM;
      }
    }
  }
}
